<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas Tutorial</title>
    <meta name="description" content="canvas tutorial">
    <meta name="canvas" content="noindex">
    <link href="../assets/css/index.css" rel="stylesheet">
</head>
<body>
    <header role="banner">
        <figure class="logo">
            <a href="">
                <canvas id='logo' width='150' height='150'></canvas>
            </a>
        </figure>
        <h1>Tutorial Site</h1>
        <nav role="navigation" class="navBar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <div role="application">
            <section class="tutorial">
                <h2>Welcome to Nivedha's Tutorial Site</h2>
                <div class="wrapper">
                    <canvas id="mycanvas" width="800" height="950"></canvas>
                    <h3>Bouncing ball Animation</h3>
                    <canvas id="canvas_anim" width="600" height="300"></canvas>
                </div>
            </section>
        </div>
    </main>
    <footer role="contentinfo">
        <hr>
        <address> For more details, contact
            <a href="mailto:expedia@example.com">Canvas Queries</a>.
        </address>
        <p><small>Copyright &copy; 2016. All rights reserved</small></p>
    </footer>
    <!--[if lt IE 9]><script src="../assets/lib/dist/html5shiv.js"></script><![endif]-->
    <script src="../assets/js/index.js" type="text/javascript"></script>
</body>
</html>